# Ignore all .log files
*.log

# Ignore all files in the build/ directory
build/

sonic/
testing/

src/CMakeFiles/
src/CMakeFiles/CMakeOutput.log
src/CMakeFiles/Makefile.cmake

# Ignore CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Ignore all .DS_Store files
.DS_Store

.vscode

*.o
*.wav
*.raw
*.py
*.mp4
*.exe