# Ignore all .log files
*.log

# Ignore all files in the build/ directory
build/

sonic/
testing/


# Ignore CMake files
src/CMakeLists.txt.user
src/CMakeCache.txt
src/CMakeFiles/
src/CMakeScripts
src/Testing
src/Makefile
src/cmake_install.cmake
src/install_manifest.txt
src/compile_commands.json
src/CTestTestfile.cmake
src/_deps

# Ignore all .DS_Store files
.DS_Store

.vscode

*.o
*.wav
*.raw
*.py
*.mp4
*.exe